<div class="mt-4">

    <form method="GET" action="/news">
  <div class="form-group">
    <label for="exampleInputEmail1">nhap vao từ khoá </label>
    
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="click vào đây ">
    </div>

    {{!-- phân cacsh  --}}
    
<div class="form-group">
    <label for="gender-input" >giới tính  </label>
    <select name="gender" class="form-control mt-4" id="gender-input">
            <option value="">---giới tính---</option>
            <option value="male">NAM</option>
            <option value="female">Nữ </option>

    </select>
  
</div>

    
    

  
  <button type="submit" class="btn btn-primary mt-4 ">Submit</button>
</form> 
</div>